*** Targets ***
#slaves = slave1 slave2 slave3
probe = FPing

menu = Top
title = netmeter.club Global Ping Monitoring [REGION]
remark = Connected to this server: <ul>\
    <li>mastername: Someville, Somewhere [XYZ Hosting]</li>\
</ul>

# List slaves that have IPv6 support
@define IPV6-SLAVES slave1 slave2
# Set to yes if master has no IPv6 support
@define IPV6-NOMASTERPOLL no

@include /etc/smokeping/config.d/Targets-Shared6

@include /etc/smokeping/config.d/Targets-Shared
